

body {
 background: url(cleaning.jpg) no-repeat center center fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;

}

.content {
display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
width: 40em;
margin: 8em auto;
background-color: rgba(24,24,24,0.8);

}
h1 {
	
	font-size: 3em;
	color: white;
	font-family: "Amatic SC", Helvetice, Lato, sans-serif;
	font-weight: lighter;
		font-weight: lighter;
	-webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 margin-bottom: 0;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: lighter;
	-webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 color: white;
	 font-size: 1.3em;
}

#wn {
	font-size: 4em;
	line-height: 0;
	color: white;
	font-weight: bolder;
	margin: 0.8em auto 0 auto;
}



#oe, #nh {
	color: #FF5252;
	font-size: 6em;
	line-height: 0;
	font-family: "Amatic SC", Helvetice, Lato, sans-serif;
	margin: 0.6em auto 0.6em auto;

}

